<h1 class="pageDescTitle">About Us</h1>
<p class="pageDesc">
Welcome to Surya's Personal Budget Application!
<br><br>
Designed with simplicity and efficiency in mind, our application empowers you to take control of your finances effortlessly.
<br>
Whether you're tracking expenses, setting savings goals, or planning for the future, our intuitive interface makes managing your money a breeze.
<br>
With customizable categories, insightful reports, and real-time updates, staying on top of your finances has never been easier.
<br>
Say goodbye to financial stress and hello to financial freedom with Surya's Personal Budget Application.
<br><br>
Start your journey to financial empowerment today!
</p>
